* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.left-section img {
  width: 100%;
  max-width: 300px;
}

.left-section .bottom-text a {
  text-decoration: underline;
  color: #3b5998;
  font-size: 15px;
}

.left-section .bottom-text a:hover {
  cursor: pointer;
}

.right-section {
  flex: 1;
  padding: 50px 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.input-group i {
  margin-right: 10px;
  color: #555;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.options {
  margin-bottom: 20px;
  font-size: 14px;
}

.btn {
  padding: 10px;
  background-color: #4da6ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #3399ff;
}

.bottom-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.bottom-text a {
  color: #333;
  text-decoration: none;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.social {
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.fb {
  background-color: #3b5998;
}

.tw {
  background-color: #55acee;
}

.g {
  background-color: #dd4b39;
}

/* responsive */